<!-- (keyup)="search()" -->
<form style="display: inline-block" class="example-form">
  <mat-form-field class="example-full-width">
    <input type='text' matInput required placeholder="Enter search word" [formControl]="searchField">
  </mat-form-field>
</form>

<button [disabled]="searchField.hasError('required')" style="display: inline-block" (click)="search()" mat-fab
  color="accent">Search</button>

<hr>

<div style="padding: 5rem;" class="row is-flex">

  <div style="padding-top: 1rem;
  padding-bottom: 1rem;" *ngFor="let item of searchList; let i = index;" class="col-sm-6 col-md-3 col-lg-3 col-xs-4">
    <mat-card class="thumbnail">
      <mat-card-header style="text-align:left">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title style="overflow-y: hidden; 
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;">{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.release_date}}</mat-card-subtitle>
        
      </mat-card-header>
      <img style="object-fit: cover;min-height: 426px" mat-card-image src="https://image.tmdb.org/t/p/w300/{{item.poster_path}}" *ngIf="item.poster_path">
        <img mat-card-image src="assets/img/abstract-image.jpg" *ngIf="!item.poster_path">
      <mat-card-content>
        <div class="sidebar-box"></div>
        <p style="overflow-y: hidden; 
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;">{{ item.overview }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>More Info</button>
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </div>

</div>


<!-- <div class="thumbnail">
  <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path">
  <img src="assets/img/abstract-image.jpg" *ngIf="!movie.poster_path">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/movie/{{movie.id}}" title="{{movie.title}}">{{movie.title}}</a>
    </h4>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
</div> -->