<section fxLayout="column wrap">
  <!-- <div fxFlexAlign="center">
    <p>Angular App Demo</p>
  </div> -->

  <!-- <p>In this application we are going to work with:</p> -->

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Movies Info"> 
      <p>We are going to make a call to an API to get movies information.</p>
       <!--Movie info component  -->
       <app-movies></app-movies>
    </mat-tab>
    <!-- <mat-tab label="Consume .NET Core Web API">
       <p>We will consume our .NET Core applicatoin. Basicaly, we will create complete CRUD client app.</p>
      </mat-tab>
    <mat-tab label="Fully responsive navigation menu">
       <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab> -->
  </mat-tab-group>
</section>